/* Estilizando o indicador de foco para elementos interativos */
input:focus,
i:focus {
  outline: 2px solid #1294ff; /* Adiciona uma borda azul ao redor do elemento focado */
  outline-offset: 4px; /* Espaçamento entre o outline e o elemento */
}

/* Estilos para os rótulos */
label {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-bottom: 0.5em;
}
body {
  font-family: 'Poppins', sans-serif;
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(166, 148, 233, 1) 95%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(166, 148, 233, 1) 95%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(166, 148, 233, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#a694e9", GradientType=1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

form {
  margin-top: 1vh;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  background-color: rgba(240, 255, 255, 0.39);
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}

#blocosTarefas {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

#blocosTarefas div {
  margin-top: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#blocosTarefas div p {
  word-break: break-word; /* Quebra de linha automática */
  overflow-wrap: break-word; /* Fallback para navegadores antigos */
  padding-left: 5px;
}

button{
  border-radius: 20px;
}
.options {
  display: flex;
  align-items: center;
}

.options i {
  margin-right: 15px;
  cursor: pointer;
}
